<?php
/**
 * Product view template
 *
 * @var View $block
 *
 */

use Magento\Catalog\Block\Product\View;
use Magento\Framework\App\ObjectManager;

$objectManager = ObjectManager::getInstance();
$cart = $objectManager->get('\Magento\Checkout\Model\Cart');
$imageHelper = $objectManager->get('\Magento\Catalog\Helper\Image');
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($block->getProduct()->getId());
$image_url = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->getUrl();
?>

<div id="confirmBox" style="">
    <div id="messageBox" class="tgcart-message-box">
        <p><?= $block->getProduct()->getName(); ?></p>

        <p class="text">has been added to your cart</p>
        <div class="tg-photo-container">
            <a href="<?php $block->getProduct()->getProductUrl() ?>" title="<?php $block->getProduct()->getName() ?>"
               tabindex="-1" class="product-item-photo">
                <span class="product-image-container" style="width:165px;">
                    <span class="product-image-wrapper" style="padding-bottom: 100%;">
                        <img alt="<?= $block->getProduct()->getName(); ?>" class="product-image-photo"
                             max-height="165px" max-width="165px" src="<?= $image_url; ?>">
                    </span>
                </span>
            </a>
            <div id="tg-qty" class="tgcart-qty-wrap" data-tgcart="qty-wrap">
                <form data-role="tocart-form" data-product-sku="24-WB05"
                      action="<?= $block->getUrl('checkout/sidebar/updateItemQty') ?>" method="post">
                    <label for="tg-input" class="tgcart-label">Qty</label>
                    <button class="tgcart-control-minus" data-tgcart="qty-minus">-</button>
                    <input class="tgcart-input" id="tg-input" maxlength="12" title="Qty" size="7" type="number"
                           value="<?= $block->getProduct()->getQty(); ?>"
                           name="qty" data-tgcart="qty-input" style="max-width: 100px">
                    <button class="tgcart-control-plus" data-tgcart="qty-plus">+</button>

                    <button class="tgcart-refresh" title="Update" data-tgcart="qty-refresh" type="submit"
                        style="visibility: visible;">update
                    </button>
                    <input type="hidden" name="form_key" id="form-key" value="0JmcMtZRcYGJqvCw"
                           data-tgcart="qty-form-key">
                    <input type="hidden" name="item_id" id="quote_id" value="128" data-tgcart="qty-quote-id">
                </form>
                <!--                <button class="tgcart-refresh" title="Update" data-tgcart="qty-refresh"-->
                <!--                        style="visibility: visible;">update-->
                <!--                </button>-->

                <!--                <input type="hidden" name="form_key" id="form-key" value="0JmcMtZRcYGJqvCw" data-tgcart="qty-form-key">-->
                <!--                <input type="hidden" name="item_id" id="quote_id" value="128" data-tgcart="qty-quote-id">-->
            </div>
        </div>
        <p id="tgcart-count" class="text">
            <?php
            if ($cart->getQuote()->getItemsQty() != 1) {
                echo "There are";
            } else {
                echo "There is";
            }
            ?>
            <a href="" id="tg-a-count" data-tgcart="tgcart-count" title="View Cart">
                <?php echo $cart->getQuote()->getItemsQty(); ?>
            </a> in your cart.
        </p>
        <p class="tgcart-subtotal text">Cart Subtotal:
            <span class="tg_price" data-tgcart="tgcart-price">
                <span class="price"><?= $cart->getQuote()->getSubtotal(); ?></span>
            </span>
        </p>
    </div>
    <div id="confirmButtons" class="tgcart-confirm-buttons">
        <button class="button tg-btn-left continue" title="Continue">Continue</button>
        <button class="button tg-btn-right view-cart" title="View Cart">
            <a href="<?= $block->getUrl('checkout/cart', ['_secure' => true]); ?>">View Cart
            </a>
        </button>
        <a class="checkout" title="Go to Checkout" data-role="proceed-to-checkout"
           href="<?= $block->getUrl('checkout', ['_secure' => true]); ?>">
            Go to Checkout
        </a>
    </div>
    <div class="tg-related-box">
    </div>
</div>
<script type="text/javascript">
    require(["jquery", 'Magento_Ui/js/modal/modal'], function ($, modal) {
        $(".tgcart-control-minus").click(function (e) {
            e.preventDefault();
            var qty = parseInt($("#tg-input").val());
            if (qty == 0 || !qty) {
                qty = 1;
            }
            if (qty > 0) {
                $('#tg-input').val(qty - 1);
            }
        });
        $(".tgcart-control-plus").click(function (e) {
            var qty = parseInt($("#tg-input").val());
            if (qty == 0 || !qty) {
                qty = 1;
            }
            if (qty > 0) {
                $('#tg-input').val(qty + 1);
            }
        });
        $('.button.tg-btn-left.continue').click(function () {
            $('#modal-content').modal('closeModal');
        });

        $('.tgcart-refresh').click(function (e) {
            e.preventDefault();
            alert($('#tg-input').val());
            $.ajax({
                url: <?php echo $block->getUrl('checkout/sidebar/updateItemQty') ?>,
                param:,
                type: 'post',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {

                },
                error: function (response) {

                }
            })
        })

    });


</script>

